.board {
    width: 1280px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.gameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: VT323;
}

.Counters {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    gap: 10px;
    background: #478FB4;
}

.Counters>* {
    padding: 5px;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}

.bottomGui {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 430px;
}